.rowFlex {
    display: flex;
    flex-direction: row;
}

.offset-md-3 {
    margin-left: 23%;
  }

  .myCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }